.ingredientenbox {
	background-color: coral;
	max-width: 100%;
	border-radius: 10px;
	min-width: 120px;
}

.ingredienten {
	padding: 2em;
}

.getal {
	font-family: monospace, sans-serif;
}

.doorgestreept {
	text-decoration: line-through;
}